{literal}
body {
	background-color: white;
}

.codeblock {
	margin-bottom: 20px;
}

.code-legend {
	font-size: 11px;
	margin-left: 30px;
	
}

.comment {
  	color: maroon;
	font-style: italic;
}

.keyword {
	font-weight: bold;
}

.string {
	font-style: italic;
}

.variable { 
	color: maroon;
	border-bottom: 1px solid #eaeaea;
}

.python .string {
	color: blue;
}

.phpdoc {
	font-weight: bold;
	color: black;
}

.html .atribute .value {
  color: green;
}

.stack-line {
	border: 1px solid LightGrey;
	background-color: #eaeaea;
}

body {
	font-family: Helvetica;
	margin: 0 0 50px 0;
	padding: 0;
	width: 100%;
	
}

#header {
	color: Maroon;
	background-color: #eaeaea;
	width: 100%;
	border-bottom: 1px solid LightGrey; 
	margin: 0;
	
	
}

table.vertical-table-header th {
	width: 200px;
	vertical-align: top;
}

h1 {
	font-size: 30px;
	font-weight: lighter;
	padding: 20px;
	margin: 0;
	
}
h2 {
	margin-top: 5px;
	margin-bottom: 30px;
}

h3 {
	
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	margin-top: 5px;
	margin-bottom: 30px;
}

#content {
	margin-left: 40px;
	margin-top: 30px;
	width: 90%;
	min-width: 900px;
}

a:link,
a:visited {
	color: Maroon;
	
}

a:hover {
	background-color: #eaeaea;
}

tt, pre, code {
	font-family: 'DejaVuSansMono','DejaVu Sans Mono', 'Lucida Sans Typewriter', monospace;
	font-size: 12px;
}

table {
	font-size: 12px !important;
	border: 1px solid LightGrey;
	width: 100%;
	padding: 0;
	margin-top: 7px;
	border-collapse: collapse;
}

td {
	padding: 5px;
	border-bottom: 1px solid LightGrey !important;
	border-right: 1px solid LightGrey !important;
	margin: 0;
	
}

td:last-child {
	border-bottom: none;
}

tr {
	
	margin: 0;
	padding: 0;
}

th {
	background-color: #eaeaea;
	border-bottom: 1px solid LightGrey;
	border-right: 1px solid LightGrey !important;
	color: Maroon;
	text-align: left;
	padding: 5px;
}

span.args {
	cursor: help;
	color: Maroon;
	text-transform: uppercase;
	font-family: Helvetica !important;
	font-size: 9px;
}

span.args:hover {
	background-color: #eaeaea;
}

input[type=button].source-toggler {
	background: transparent url(/static/cobweb/img/text_align_left.png);
	width: 16px;
	border: none;
	cursor: pointer;
}

input[type=button].source-toggler:hover {
	
}

h4 {
	font-size: 12px;
	margin-top: 20px;
	border-bottom: 1px solid LightGrey;
}

.controller-stackpoint {
	background-color: #f3f3f3;
}

.controller-stackpoint td b {
	color: maroon;
}
{/literal}